body {
  background-image: url("../img/cool-background.png");
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
}

.link-contacto {
  color: #fff;
  text-decoration: none;
}

a:link a:visited a:hover a:active {
  color: #fff;
  text-decoration: none;
}

.imagen-zoom {
  transition: transform 0.2s;
}

.imagen-zoom:hover {
  transform: scale(1.25);
}

.abyssinica {
  font-family: "Abyssinica SIL", sans-serif;
}

.video {
  aspect-ratio: 16 / 9;
  width: 100%;
}
